<html>
    <head>
        <h1>
            welcome back! 
        </h1>
    </head>
    <body>
        <h4>we have detected that you have already logged in to the api gateway</h4>
        
        <h6>if you think this is a different user login, please log out imidiately!</h6>
    </body>
    <style>
    h1{
        text-align: center;
        color:rebeccapurple;
    }
    h4 {
        text-align: center; 
        color:blue;   
    } 
    h6{
        text-anchor: end;
        text-align: center;
        color:black;
    }
    </style>
</html>