<html>
    <head>
        <h3>welcome back {{ username }}! We totally missed you</h3>
    </head>
    <body>
        identified by apikey: {{ k }}<br>
        <img src='/static/images/smileyface.png' alt='smileyface'>
        <form action = "https://api.matthew.tk/api/v1" method="get">
            <p><input type = "submit" text="click here to return"/></p>
        </form>
    </body>
    <style>
    h3 {
        text-align: center;
        color:royalblue;
    }
    body {
        text-align: center;
        color: hotpink;
    }
    </style>
</html>