<html>
    <head>
        <h2>
            Thanks for joining the matthew.tk api site
        </h2>
    </head>
    <body>
        <h3>
            welcome! {{ name }}
        </h3>
        <p>
            your api key is: {{ apik }}
        </p>
        
    </body>
    <style>
        h2{
            color:deeppink;
            text-align: center;
        }
        h3{
            color:dodgerblue;
            text-align: center;
        }
        p {
            color:orangered;
            text-align: center;
        }
    </style>
</html>