<html>
    <head><h1>Welcome to matthew's API gateway</h1></head>
    <body>
        
        <form action = 'https://api.matthew.tk/api/v1/login/login'>
            <button>
                click here to login
            </button>
        </form>
        <form action = 'https://api.matthew.tk/api/v1/login/register'>
        <button>
            click here to register
        </button>
    </form>
    <form action = 'https://api.matthew.tk/api/v1/logout'>
        <button>
            click here to go to signout page
    </button>
    </form>
    <form action = 'https://api.matthew.tk/api/v1/fup'>
        <button>
            upload a file
    </button>
    </form>
    </body>
    <style>
    h1 {
        color:palevioletred;
        text-align: center;
    }
    button {
        color:navy;
    }
    form {
        text-align: center;
    }
    </style>
</html>